font-family: 'Merriweather', serif;
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;;
    margin: 0 auto;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.banner-img {
    height: 600px;
    text-align: center;
}
.banner-images {
    text-align: center;
  }
  .banner-image{
    border-radius: 16px;
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }