/* font-family: 'Merriweather', serif;
font-family: 'Inter', sans-serif; */

*{
    margin: 0;
    padding: 0;
}
body,h1,h2,h3,h4{
    font-family: Merriweather;
    margin: 0 auto;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.banner-img {
    height: 600px;
    text-align: center;
}
.banner-images {
    text-align: center;
}
  .banner-image{
    border-radius: 16px;
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
  .banner-text{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    padding-bottom: 17px;
  }
  .banner-heading{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 342px;
    margin-right: 342px;
  }
  
  /* discount area styles */
  .discount-title{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}
.discount-text{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.section-title{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}
.discount-image {
    text-align: center;
}

/* Welcome-party section styles */
.party-image{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) ,url('../images/Vectorrr.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
}
.party-left-part {
    width: 642px;
}
.welcome-party {
    margin-top: 120px;
}
.party-title{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    margin-left: 126px;
    padding-top: 126px;
}
.party-text{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 697px;
    margin-left: 126px;
    margin-top: 24px;
}
.party-join a {
    color: black;
    text-transform: uppercase;
  }
.party-join {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    margin-left: 158px;
    margin-top: 48px;
}
.party-right-part {
    padding: 68px 0px 68px 200px;
  }
.party-vector-image{
    height: 465px;
    width: 320px;
}

/* date & time section styles */
.date-time {
    margin-top: 120px;
    margin-bottom: 120px;
}
.date-time-bg{
    width: 1320px;
    height: 482px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
}
.place, .date, .time{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    line-height: 56px;
}
.date-join{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    margin-top: 48px;
    margin-bottom: 110px;
    text-transform: uppercase;
}
.date-join a{
    color: #fff;
}

/* happy offer styles */
.coming-soon{
    display: flex;
}
.happy-offer-left {
    width: 393px;
  }
  .happy-offer-middle {
    width: 364px;
    display: flex;
    margin-left: 70px;
    margin-right: 118px;
  }
  .happy-offer-right {
    width: 276px;
  }
.coming-soon-text{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.section-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 22px;
}
.coming-title{
    text-align: left;
}
.coming-soon-descript{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.upper-circle {
    width: 380px;
    height: 328px;
    border: 15px solid #F00;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: relative;
  }
  .middle-circle-img {
    max-width: 280px;
    max-height: 280px;   
    position: absolute;   
    left: 26px;   
    top: 24px;
  }
.coming-title{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 22px;
}
.year{
    color: #F00;
    font-family:  'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.year-descript{
    color: rgba(7, 2, 17, 0.60);
    font-family:  'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 43px;
}

.holiday-sale {
    text-align: center;
    margin-bottom: 500px;
  }
.holiday-text{
    color: #070211;
    font-family:  'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 16px;
}
.holiday-red{
    color: #F00;
}
.holiday-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}
.holiday-descript{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 64px;
}

/* festive-part styles */
.festive-part{}
.long-rectangle{
    background: url('../images/Rectangle\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    position: relative;
}
.box-img {
    width: 600px;
    height: 420px;
    position: absolute;
    bottom: 44px;
    left: 45px;
}
.happy-girl {
    width: 429px;
    height: 433px;
    position: absolute;
    right: 0;
    bottom: 230px;
}
.circle-discount {
    position: absolute;
    right: 275px;
    bottom: 275px;
}

/* portfolio section styles */
.gift-text{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    margin-top: 120px;
}
.portfolio-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.portfolio-descript{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
    width: 896px;
}
.upper-three-img, .bottom-three-img{
    display: flex;
    transition: 1s;
}
.upper-img1:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.upper-img2:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.upper-img3:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.upper-img2, .upper-img3{
    margin-left: 24px;
}
.bottom-three-img {
    display: flex;
    margin-top: 24px;
}
.upper-img1:hover .upper-img1{ 
    width: 500px;
}
.portfolio {
    margin-bottom: 120px;
  }

  /* newsletter section styles */
  .newsletter {
    margin-bottom: 120px;
  }
  .newsletter-bg{
    width: 1320px;
    height: 616px;    
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  .email-img{
    margin-top: 80px;
  }
  .newsletter-title{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
  }
  .newsletter-descript{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 212px 48px 212px;
  }
  .input-subscribe input[type="email"]{
    padding: 25px 477px 25px 30px;
    border-radius: 50px;
    border: none;
    background: #fff;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .input-subscribe {
    position: relative;
  }
  .subscribe-btn{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 24px 56px;
    position: absolute;
    right: 278px;
  }
  .subscribe-btn a{
    color: #fff;
  }

  /* footer part styles */
  .whole-footer{
    background: #070211;
  }
  .footer-part {
    display: flex;
    padding-top: 120px;
  }

.footer-address{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 375px;
}
.copyright-text{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 250px 0 120px 0;
}
.footer-icons {
    margin-left: 101px;
    margin-right: 106px;
    display: flex;
  }
.fb-icon, .insta-icon, .twit-icon, .link-icon{
    width: 64px;
    height: 64px;
    margin-left: 24px;
    margin-top: 146px;
}
.footer-phone {
    display: flex;
}
.contact-number{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 16px;
}
.footer-website {
    display: flex;
}
.footer-phone img{
    width: 24px;
    height: 24px;
    margin-top: 8px;
}
.footer-website img{
    width: 24px;
    height: 24px;
    margin-top: 5px;
}
.website{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 16px;
}
.unsubscribe{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-left: 202px; 
    margin-top: 260px;
}